#
# SSLeay example configuration file.
#

RANDFILE                = $ENV::HOME/.rnd

[ req ]
default_bits            = 1024
default_keyfile         = privkey.pem
distinguished_name      = req_distinguished_name
prompt                  = no

[ req_distinguished_name ]
countryName                     = CH
stateOrProvinceName             = VD
localityName                    = Lausanne
organizationName                = Camptocamp SA
organizationalUnitName          = System Administrators
commonName                      = @HostName@
emailAddress                    = sysadmin@camptocamp.com
